#pictures.edit
  .panel.panel-default
    .panel-heading
      Bild in
      %span.strong= @gallery.title
      bearbeiten
    .panel-body
      = render 'form'

  .panel.panel-default
    .panel-heading Aktuelles Bild
    .panel-body
      = link_to image_tag(@picture.picture.url(:thumb)), @picture.picture.url(:original), class: :fancybox