#pictures.edit
  .well
    %h2.title
      Bild in
      %span.strong= @gallery.title
      bearbeiten
    %p= render 'form'

  .well
    %h2.title Aktuelles Bild
  .thumbnail
    = link_to image_tag(@picture.picture.url(:thumb)), @picture.picture.url(:original), class: :fancybox
