#news
  - @news.each do |news|
    .teaser
      = render :partial => 'teaser', :locals => {:news => news}

  .pageination
    = will_paginate @news, renderer: BootstrapPagination::Rails, previous_label: "Weiter", next_label: "Zurück"