#about.about
  .well
    %h2.title Über uns
    %h4.title Kölle Alaaf &ndash; unser Herz schlägt für den Karneval!
    %p
      Wir sind ein junger Karnevalsverein aus Köln-Porz:
      %b die Wahner KölschBusters.
    %p Gegründet wurde der Verein im Jahr 2005. Mit viel Liebe zum Detail haben wir unseren Karnevalswagen selbst gebaut und über die Jahre immer weiter verschönert und neue Ideen verwirklicht. Seit 2008 laufen wir beim Wahner und manchmal auch beim Porzer Zug mit -- und feiern aus Lust an der Freud die fünfte Jahreszeit.
    %p Besonders wichtig ist uns eine Tradition, die wir seit 2010 jedes Jahr verfolgen: Nicht alle Kinder haben die Möglichkeit, im Karneval am Straßenrand zu stehen und Kamelle zu sammeln. Deshalb spenden die Wahner KölschBusters immer Kamelle an das Porzer Kinderkrankenhaus und an ein Weisenhaus in Bocklemünd. Das Lächeln der Pänz ist unbezahlbar!
    %p
      Wir freuen uns immer über neue Mitglieder, in deren Adern -- genauso wie bei uns -- kölsches Blut fließt! Wer sich angesprochen fühlt, kann sich gerne über unser
      =link_to "Kontaktformular", :contact
      bei uns melden.
    %p= link_to image_tag("about_us_group.jpg", title: "Wahner KölschBusters", alt: "Wahner KölschBusters", width: "100%", class: "img-rounded"), image_path("about_us_group.jpg"), class: :fancybox