// global
@import "../variables";
@import "../foundation_and_overrides";
@import "jquery-ui";
@import "../jquery.fancybox";
@import "../jquery.fancybox-buttons";
@import "font-awesome";
@import "jquery.datetimepicker";

// customization
@import "../theme";
@import "../offcanvas";
@import "../events";

body#admin {

  #main {
    background: asset-url("bg/admin.jpg") repeat;
    background-color: rgba($black, 0.6);
  }

  h1 {
    margin: 0;
    margin-bottom: 10px;
  }

  td {
    vertical-align: middle;

    a.button {
      margin-bottom: 0;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: rgba($white, 0.5);
      }
    }
  }

  .container {
    .row {
      padding-bottom: 75px;
    }
  }
  .strong {
    font-weight: bold;
  }

  .address {
    margin: 0;
  }

  .sortable {
    cursor: move;
  }

  form {
    .field_with_errors {
      // display: inline-block;

      label,
      input {
        color: $error-color;
      }

      input {
        border: 1px solid $error-color;
      }
    }
  }

  #comments {
    .comment {
      &.inactive {
        background-color: #fff;
        background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 1.2em;
        padding-left: 125px;

        .inactive-marker {
          position: absolute;
          top: 5px;
          right: 10px;
          color: $linkRed;
          font-family: $titleFont;
        }
      }

      .options {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      position: relative;

      .info {
        margin: 5px 0;
        font-size: 11px;
      }

      .date,
      .author {
        font-weight: bold;
      }
    }
  }

  .picture {
    position: relative;
    display: inline-block;

    .options {
      position: absolute;
      bottom: 10px;
      right: 10px;

      a {
        padding: 5px 10px;
        font-size: 12px;
      }
    }

    img {
      margin: auto 0;
      border: 5px solid #47a447;
    }

    &.internal {
      img {
        margin: 5px;
        border: none;
      }
    }
  }

  footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 50px;
    margin-top: -50px;
    border-top: 3px solid #f00;
    padding: 15px;
    color: #fff;
    background-color: #000;
    bottom: 0;

    .social {
      float: right;
      margin: 0 50px;

      > div {
        float: left;

        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }

  .navbar-brand {
    img {
      height: 25px;
    }
  }
}
