development:
  secret_key_base: 0a7496b2e7a844e4ae1ab4894660507e654363b19cb068f75e953bcd7616d482ae0b7af3ed25d57a549800cca5208d0d6cf39e9c31262e63ae55fe23eaa29dfe

  google_app_id: randomAppId
  google_app_secret: randomAppSecret

  twitter_app_id: randomAppId
  twitter_app_secret: randomAppSecret

  facebook_app_id: randomAppId
  facebook_app_secret: randomAppSecret

  admin_name: Max Mustermann
  admin_email: 'max[at]randomAddress[dot]de'

  president_name: Alfred Hitchcock
  president_email: 'alfred[at]randomAddress[dot]de'

  journalist_name: Quentin Tarantino
  journalist_email: 'Quentin[at]randomAddress[dot]de'

  contact_street: Musterstraße 123
  contact_city: 12345 Musterhausen

  contact_email: contact@example.com
  noreply_email: noreply@example.com

  devise_pepper: 37d5500036ff72a872f20b88f4ea801d282a75a6cce66ca67670e54162fff226246260da2a97382908a7406134cdeef2f2da71e430373b71b07e379333283513

test:
  secret_key_base: 5f8474daa57a982e687f12bd1131353f10cb0b0a9ad03856ee41c5db08993d87426d0b70d5741c7d1c20d3d245635b23a3d017c79ee5c5047247f443437f1994

  google_app_id: randomAppId
  google_app_secret: randomAppSecret

  twitter_app_id: randomAppId
  twitter_app_secret: randomAppSecret

  facebook_app_id: randomAppId
  facebook_app_secret: randomAppSecret

  admin_name: Max Mustermann
  admin_email: 'max[at]randomAddress[dot]de'

  president_name: Alfred Hitchcock
  president_email: 'alfred[at]randomAddress[dot]de'

  journalist_name: Quentin Tarantino
  journalist_email: 'Quentin[at]randomAddress[dot]de'

  contact_street: Musterstraße 123
  contact_city: 12345 Musterhausen

  contact_email: contact@example.com
  noreply_email: noreply@example.com

  devise_pepper: c39f33b48af23a1e95c3a311815c4fecec32448f884216ba3ec9cc7408d5c61a21d0e27a58b641aad7b7ba12d3f047fbc2cb5733080d74d31896ee2ba4cbaa8d

