#gallery
  .well
    %h2.title Unsere Bildergalerien
  - unless @galleries.nil?
    .row{ data: { equalizer: true, 'equalize-on' => "small" }}
      - @galleries.each do |gallery|
        .small-6.large-4.columns{ 'data-equalizer-watch' => true }
          = link_to gallery do
            .thumbnail
              %h4.title= gallery.title
              = image_tag gallery.preview_picture.url
  - else
    .well Es gibt leider keine für dich zugängliche Gallerie.
