#gallery
  .well
    %h2.title= @gallery.title
  .pictures
    - @pictures.each do |picture|
      .picture
        %span.helper &nbsp;
        = link_to image_tag(picture.picture.url(:thumb), class: "img-thumbnail"), picture.picture.url, class: "gallery-picture", rel: "gallery"

  %br.clear
  .well= link_to "Zurück zur Übersicht", :galleries, class: "btn btn-danger"
