#gallery
  .well
    %h2.title= @gallery.title
  .row{ data: { equalizer: true, 'equalize-on' => "small" }}
    - @pictures.each do |picture|
      .small-6.medium-4.columns{ 'data-equalizer-watch' => true }
        = link_to  picture.picture.url, 'data-rel' => "fancybox", rel: 'gallery' do
          .thumbnail
            = image_tag picture.picture.url(:thumb)

  %br.clear
  .well= link_to "Zurück zur Übersicht", :galleries, class: "btn btn-danger"
