@import "variables";

#admin {

  h1 {
    margin: 0;
    margin-bottom: 10px;
  }

  td {
    vertical-align: middle;
  }

  .container {
    .row {
      padding-bottom: 75px;
    }
  }

  .jumbotron {
    font-size: 14px;
    padding: 25px;
  }

  .strong {
    font-weight: bold;
  }

  .container:nth-of-type(2) {
    padding-top: 75px;
  }

  .address {
    margin: 0;
  }

  .sortable {
    cursor: move;
  }

  form {
    .field_with_errors {
      // display: inline-block;

      label,
      input {
        color: $error-color;
      }

      input {
        border: 1px solid $error-color;
      }
    }
  }

  #news-comments {
    .news-comment {
      &.inactive {

        // background: asset-url('striped-bg.png', image) repeat top left;
        background-color: #fff;
        background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 1.2em;
        padding-left: 125px;

        .inactive-marker {
          position: absolute;
          top: 5px;
          right: 10px;
          color: $linkRed;
          font-family: $titleFont;
        }
      }

      .options {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      position: relative;

      .info {
        margin: 5px 0;
        font-size: 11px;
      }

      .date,
      .author {
        font-weight: bold;
      }
    }
  }

  .picture {
    position: relative;
    margin: 20px;
    display: inline-block;

    .options {
      position: absolute;
      bottom: 10px;
      right: 10px;

      a {
        padding: 5px 10px;
        font-size: 12px;
      }
    }

    .img {
      height: 100%;
      vertical-align: middle;

      img {
        margin: auto 0;
        border: 5px solid #47a447;
      }
    }

    &.internal {
      img {
        margin: 5px;
        border: none;
      }
    }
  }

  table {
    &.table-bordered {
      td {
        vertical-align: middle;
      }
    }

    td {
      &.centered {
        text-align: center;
      }
    }
  }

  footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 50px;
    margin-top: -50px;
    border-top: 3px solid #f00;
    padding: 15px;
    color: #fff;
    background-color: #000;
    bottom: 0;

    .social {
      float: right;
      margin: 0 50px;

      > div {
        float: left;

        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }

  .navbar-brand {
    img {
      height: 25px;
    }
  }
}