@import "variables";
@import "//fonts.googleapis.com/css?family=Alegreya:700";

body {
  a {
    color: $linkRed;
  }

  a:hover {
    color: $linkRedHover;
    text-decoration: none;
  }

  .label {
    background: $white;
  }
}

form {
  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea {
    background: rgba($white, 0.6);
  }

  span.is-invalid-label {
    margin-right: 10px;
  }

  .field_with_errors {
    // display: inline-block;

    label,
    input,
    textarea {
      color: $error-color;
    }

    input,
    textarea {
      background: rgba($error-color, 0.1);
      border-color: $error-color;
    }
  }
}


#main {
  background: asset-url("bg/1.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  overflow-x: scroll;

  >.row {
    padding-top: 25px;
    padding-bottom: 70px;
  }

  .top-bar {
    border-bottom: 5px solid #f00;
    width: 100%;
    margin-top: 0px !important;

    @include breakpoint(medium down) {
      position: relative;
    }

    .top-bar-logo {
      position: absolute;
      // z-index: -99;

      @include breakpoint(large up) {
        img {
          height: 100px;
        }
      }

      @include breakpoint(medium down) {
        text-align: center;
        left: 50%;
        margin-left: -29px;

        img {
          height: 50px;
        }
      }
    }

    .top-bar-title {
      @include breakpoint(medium down) {
        float: none;
      }

      strong {
        margin-top: 7px;
        display: inline-block;
        margin-left: 10px;
        font-family: $titleFont;
        text-transform: uppercase;
        font-weight: bold;
        color: $linkRedHover;
        text-shadow: 2px 2px $light-gray;

        @include breakpoint(large up) {
          margin-left: 125px;
        }
      }
    }
  }

  .well {
    background-color: rgba(255, 255, 255, $bgOpacity);
    padding: 25px;
    margin: 0 0 25px 0;
    border-radius: $borderRadius;

    &.nobottom {
      margin-bottom: 0;
      border-radius: $borderRadius $borderRadius 0 0;
    }

    &.small {
      padding: 10px;
    }

    .title {
      margin: 0;
      font-family: $titleFont;
      text-transform: uppercase;
      font-weight: bold;
    }

    h2 {
      font-size: 20px;
    }

    h4 {
      font-size: 14px;
    }

    h6 {
      font-size: 12px;
      font-weight: normal;
    }
  }

}
footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 50px;
  margin-top: -50px;
  border-top: 3px solid $linkRed;
  padding: 15px;
  color: #fff;
  background-color: #000;
  bottom: 0;

    a {
      color: #fff;
    }

  .social {
    float: right;
    margin: -3px 10px 0 0;

    > div {
      float: left;

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}

// Sticky Footer
html, body, .off-canvas-wrapper { height: 100%; }
.off-canvas-wrapper-inner { height: 100%; }
