$error-color: #ec5840;
$linkRed: #ac2925;
$linkRedHover: #d2322d;
$linkBorderColor: #ac2925;
$borderRadius: 0;
$bgOpacity: 0.90;
$fontColor: #555;
$defaultFont: "Helvetica";
$brandFont: "Sansita One";
$titleFont: "Alegreya";
$titleFontImport: "Alegreya:700";

.clear {
  clear: both;
}
