$error-color: #b94a48;
$linkRed: #ac2925;
$linkRedHover: #d2322d;
$linkBorderColor: #ac2925;
$borderRadius: 5px;
$bgOpacity: 0.95;
$fontColor: #555;
$defaultFont: "Ruda";
$brandFont: "Sansita One";
$titleFont: "Sansita One";

.clear {
  clear: both;
}