.well.welcome
  Willkommen auf der Homepage der Wahner Kölschbusters

// show only if News index
- if controller_name.to_sym  == :news
  .well.categories
    %h4.title Kategorien
    %ul
      %li.category= link_to "Alle Kategorien", :root
      - Category.order(:title).all.each do |cat|
        - if cat.news.any?
          %li.category= link_to cat.title, categorized_news_path(category: cat.to_param)

.well.facebook-like-box
  .fb-like-box{'data-href' => "http://www.facebook.com/koelschbusters", 'data-colorscheme' => "light", 'data-show-faces' => "true", 'data-header' => "false", 'data-stream' => "false", 'data-show-border' => "false", width: 225, height: 400}